@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Onest', sans-serif;
}

:root{
    --purple: #885A89;
    --orange: #EE7B30;
    --black45: #45454545;

    --shadow: 0 3px 6px #45454545;
}

/* welcome page */
.container{
    height: 100vh;
    background: url(img/bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
  
    align-items: center;
    justify-content: center;

    width: 375px;
    margin: 0 auto;
}


.container .title{
    font-size: 15px;
    font-weight: 500;
    padding: 40px 40px 0;
    text-align: center;
}

.container .cards{
    margin-top: 40px;
    padding: 0 30px;
    display: flex;
    gap: 25px 0;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards .card{
    width: 140px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--shadow);
    border-radius: 5px;
    padding: 25px;
    background: white;
}

.cards .card img{
    width: 40px;
    margin: 0 auto;
    display: block;
}

.cards .card h1{
    font-weight: 600;
    padding: 0;
    margin: 10px 0 15px 0;
    font-size: 15px;
}

.cards .card p{
    font-size: 8px;
    text-align: center;
}

.btn-add{
    align-self: self-end;
    margin: 40px 60px 0;
    padding: 5px 10px;
    border-radius: 50%;
    border: none;
    background: var(--purple);
}

.btn-add a{
    text-decoration: none;
    color: white;
}



/* add item */
.add-item{
    width: 315px;
    height: 400px;
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
    background: white;
    border-radius: 5px;
    box-shadow: var(--shadow);
    padding: 30px;
}

.add-item h1{
    margin-bottom: 30px;
    text-align: center;
}

.add-item #input-field{
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid black;
    text-align: center;
    outline: none;
    font-weight: 500;
    /* letter-spacing: .2px; */
    margin: 0 auto 30px;
    display: block;

}

.add-item .input{
    display: flex;
    justify-content: space-between;
  
}

.add-item .input input{
    margin-bottom: 10px;
    width: 80px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    text-align: center;
    padding: 5px 0; 
}

.add-item .input select{
    width: 80px;
    border: none;
    border-bottom: 1px solid black;
    padding: 5px 0;
}

.add-item .buttons{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.buttons .cancel{
    color: var(--orange);
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
}

.buttons .add{
    border: none;
    background: none;
    font-weight: 600;
    font-size: 15px;
}

.btn-back{
    margin:  0 40px 60px;
    align-self: self-start;
    border-radius: 50%;
    border: none;
    background: none;
    font-size: 25px;

}

.btn-back a{
    text-decoration: none;

}


/* rendering items */
.item-list{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto 2fr;
    gap: 20px;
    align-items: center;
    padding: 5px 30px;
    border-bottom: 1px solid var(--black45);
}

.item-list h3{
    font-size: 12px;
    font-weight: normal;
   
}

.item-list p{
    font-size: 15px;
}

.item-list button{

 
    float: right;
 
    background: var(--black45);
    padding: 3px 8px;
    border-radius: 50%;
    border: none;
    
}








